#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  background-color: rgb(241, 239, 237);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

.food-type-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
}

.card {
  background-color: #f9f9f9;
  width: 20vw;
  border-radius: 10px;
  padding: 20px;
  margin: 0 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.food-type-menu {
  /* background-color: rgb(196, 190, 190); */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

.mealCheckbox {
  display: flex;
  flex-direction: row;
  justify-content: end;
}


.plotContainer {
  width: 80vw;
  display: flex;
  justify-content: center;
}

.continueButton {
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  width: 200px;
}

.orderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.completeButton {
  display: flex;
  justify-content: end;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}